/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: HomeHeader;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 4;
	background-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #555555;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	background-color: #e90029;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #555555;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-HomeHeader
{
	border-collapse: collapse;
	background-color: #ffffff;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-HomeHeader-Column-Column1
{
	
}

.TableStyle-HomeHeader-Head-Header1
{
	
}

.TableStyle-HomeHeader-HeadI-Column1-Header1
{
	
}

.TableStyle-HomeHeader-HeadI-Column1-Header1 p
{
	
}

.TableStyle-HomeHeader-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-HomeHeader-HeadE-Column1-Header1 p
{
	
}

.TableStyle-HomeHeader-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-HomeHeader-HeadF-Column1-Header1 p
{
	
}

.TableStyle-HomeHeader-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-HeadH-Column1-Header1 p
{
	
}

.TableStyle-HomeHeader-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-HomeHeader-HeadD-Column1-Header1 p
{
	
}

.TableStyle-HomeHeader-HeadC-Column1-Header1
{
	
}

.TableStyle-HomeHeader-HeadC-Column1-Header1 p
{
	
}

.TableStyle-HomeHeader-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-HeadB-Column1-Header1 p
{
	
}

.TableStyle-HomeHeader-HeadA-Column1-Header1
{
	
}

.TableStyle-HomeHeader-HeadA-Column1-Header1 p
{
	
}

.TableStyle-HomeHeader-HeadG-Column1-Header1
{
	
}

.TableStyle-HomeHeader-HeadG-Column1-Header1 p
{
	
}

.TableStyle-HomeHeader-Foot-Footer1
{
	
}

.TableStyle-HomeHeader-FootI-Column1-Footer1
{
	
}

.TableStyle-HomeHeader-FootI-Column1-Footer1 p
{
	
}

.TableStyle-HomeHeader-FootE-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HomeHeader-FootE-Column1-Footer1 p
{
	
}

.TableStyle-HomeHeader-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HomeHeader-FootF-Column1-Footer1 p
{
	
}

.TableStyle-HomeHeader-FootH-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-FootH-Column1-Footer1 p
{
	
}

.TableStyle-HomeHeader-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HomeHeader-FootD-Column1-Footer1 p
{
	
}

.TableStyle-HomeHeader-FootC-Column1-Footer1
{
	
}

.TableStyle-HomeHeader-FootC-Column1-Footer1 p
{
	
}

.TableStyle-HomeHeader-FootB-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-FootB-Column1-Footer1 p
{
	
}

.TableStyle-HomeHeader-FootA-Column1-Footer1
{
	
}

.TableStyle-HomeHeader-FootA-Column1-Footer1 p
{
	
}

.TableStyle-HomeHeader-FootG-Column1-Footer1
{
	
}

.TableStyle-HomeHeader-FootG-Column1-Footer1 p
{
	
}

.TableStyle-HomeHeader-Body-Body1
{
	
}

.TableStyle-HomeHeader-BodyI-Column1-Body1
{
	background-color: #e90029;
}

.TableStyle-HomeHeader-BodyI-Column1-Body1 p
{
	
}

.TableStyle-HomeHeader-BodyE-Column1-Body1
{
	background-color: #e90029;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-BodyE-Column1-Body1 p
{
	
}

.TableStyle-HomeHeader-BodyF-Column1-Body1
{
	background-color: #e90029;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomeHeader-BodyF-Column1-Body1 p
{
	
}

.TableStyle-HomeHeader-BodyH-Column1-Body1
{
	background-color: #e90029;
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-BodyH-Column1-Body1 p
{
	
}

.TableStyle-HomeHeader-BodyD-Column1-Body1
{
	background-color: #e90029;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomeHeader-BodyD-Column1-Body1 p
{
	
}

.TableStyle-HomeHeader-BodyC-Column1-Body1
{
	background-color: #e90029;
}

.TableStyle-HomeHeader-BodyC-Column1-Body1 p
{
	
}

.TableStyle-HomeHeader-BodyB-Column1-Body1
{
	background-color: #e90029;
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-BodyB-Column1-Body1 p
{
	
}

.TableStyle-HomeHeader-BodyA-Column1-Body1
{
	background-color: #e90029;
}

.TableStyle-HomeHeader-BodyA-Column1-Body1 p
{
	
}

.TableStyle-HomeHeader-BodyG-Column1-Body1
{
	background-color: #e90029;
}

.TableStyle-HomeHeader-BodyG-Column1-Body1 p
{
	
}

.TableStyle-HomeHeader-Body-Body2
{
	
}

.TableStyle-HomeHeader-BodyI-Column1-Body2
{
	background-color: #555555;
}

.TableStyle-HomeHeader-BodyI-Column1-Body2 p
{
	
}

.TableStyle-HomeHeader-BodyE-Column1-Body2
{
	background-color: #555555;
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-BodyE-Column1-Body2 p
{
	
}

.TableStyle-HomeHeader-BodyF-Column1-Body2
{
	background-color: #555555;
}

.TableStyle-HomeHeader-BodyF-Column1-Body2 p
{
	
}

.TableStyle-HomeHeader-BodyH-Column1-Body2
{
	background-color: #555555;
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-BodyH-Column1-Body2 p
{
	
}

.TableStyle-HomeHeader-BodyD-Column1-Body2
{
	background-color: #555555;
}

.TableStyle-HomeHeader-BodyD-Column1-Body2 p
{
	
}

.TableStyle-HomeHeader-BodyC-Column1-Body2
{
	background-color: #555555;
}

.TableStyle-HomeHeader-BodyC-Column1-Body2 p
{
	
}

.TableStyle-HomeHeader-BodyB-Column1-Body2
{
	background-color: #555555;
	border-right-width: 0px;
	border-right-color: #555555;
	border-right-style: solid;
}

.TableStyle-HomeHeader-BodyB-Column1-Body2 p
{
	
}

.TableStyle-HomeHeader-BodyA-Column1-Body2
{
	background-color: #555555;
}

.TableStyle-HomeHeader-BodyA-Column1-Body2 p
{
	
}

.TableStyle-HomeHeader-BodyG-Column1-Body2
{
	background-color: #555555;
}

.TableStyle-HomeHeader-BodyG-Column1-Body2 p
{
	
}


