body { 
      color:#000000; 
      font-family:Verdana, Arial, Helvetica, sans-serif;  }
table { 
       color:#000000; 
       font-family:Verdana, Arial, Helvetica, sans-serif; 
       font-size:12px;  }
caption { 
         color:#000000; 
         font-family:Verdana, Arial, Helvetica, sans-serif; 
         font-size:12px;  }
tr { 
    color:#000000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;  }
th { 
    color:#000000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;  }
td { 
    color:#000000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;  }
ol { 
    color:#000000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;  }
ul { 
    color:#000000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;  }
p { 
   color:#000000; 
   font-family:Verdana, Arial, Helvetica, sans-serif; 
   font-size:12px;  }
div { 
     color:#000000; 
     font-family:Verdana, Arial, Helvetica, sans-serif; 
     font-size:12px;  }
LI.kadov-p { 
            color:#000000; 
            font-family:Verdana, Arial, Helvetica, sans-serif; 
            font-size:12px;  }
.Body { 
       color:#000000; 
       font-size:12px; 
       font-style:normal; 
       font-weight:normal; 
       font-family:Verdana, Arial, Helvetica, sans-serif; 
       margin-left:0em; 
       margin-top:0.5em; 
       margin-bottom:0.5em; 
       text-align:left; 
       text-indent:0em; 
       x-text-underline:off; 
       x-text-overline:off; 
       x-text-line-through:off; 
       white-space:normal; 
       text-decoration:none none none;  }
LI.kadov-CBody { 
                color:#000000; 
                font-size:12px; 
                font-style:normal; 
                font-weight:normal; 
                font-family:Verdana, Arial, Helvetica, sans-serif; 
                text-align:left; 
                text-indent:0em; 
                x-text-underline:off; 
                x-text-overline:off; 
                x-text-line-through:off; 
                white-space:normal; 
                text-decoration:none none none;  }
.CellBody { 
           color:#000000; 
           font-size:11px; 
           font-style:normal; 
           font-weight:normal; 
           font-family:Verdana, Arial, Helvetica, sans-serif; 
           margin-left:0em; 
           margin-top:0em; 
           margin-bottom:0em; 
           text-align:left; 
           text-indent:0em; 
           x-text-underline:off; 
           x-text-overline:off; 
           x-text-line-through:off; 
           white-space:normal; 
           text-decoration:none none none;  }
LI.kadov-CCellBody { 
                    color:#000000; 
                    font-size:11px; 
                    font-style:normal; 
                    font-weight:normal; 
                    font-family:Verdana, Arial, Helvetica, sans-serif; 
                    text-align:left; 
                    text-indent:0em; 
                    x-text-underline:off; 
                    x-text-overline:off; 
                    x-text-line-through:off; 
                    white-space:normal; 
                    text-decoration:none none none;  }
.CellHeading { 
              color:#003366; 
              font-size:11px; 
              font-style:normal; 
              font-weight:bold; 
              font-family:Verdana, Arial, Helvetica, sans-serif; 
              margin-left:0em; 
              margin-top:0em; 
              margin-bottom:0em; 
              text-align:center; 
              text-indent:0em; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              white-space:normal; 
              text-decoration:none none none;  }
LI.kadov-CCellHeading { 
                       color:#003366; 
                       font-size:11px; 
                       font-style:normal; 
                       font-weight:bold; 
                       font-family:Verdana, Arial, Helvetica, sans-serif; 
                       text-align:center; 
                       text-indent:0em; 
                       x-text-underline:off; 
                       x-text-overline:off; 
                       x-text-line-through:off; 
                       white-space:normal; 
                       text-decoration:none none none;  }
.Indented2 { 
            color:#000000; 
            font-size:12px; 
            font-style:normal; 
            font-weight:normal; 
            font-family:Verdana, Arial, Helvetica, sans-serif; 
            margin-left:4em; 
            margin-top:0.5em; 
            margin-bottom:0.5em; 
            text-align:left; 
            text-indent:0em; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            white-space:normal; 
            text-decoration:none none none;  }
LI.kadov-CIndented2 { 
                     color:#000000; 
                     font-size:12px; 
                     font-style:normal; 
                     font-weight:normal; 
                     font-family:Verdana, Arial, Helvetica, sans-serif; 
                     text-align:left; 
                     text-indent:0em; 
                     x-text-underline:off; 
                     x-text-overline:off; 
                     x-text-line-through:off; 
                     white-space:normal; 
                     text-decoration:none none none;  }
.Indented3 { 
            color:#000000; 
            font-size:12px; 
            font-style:normal; 
            font-weight:normal; 
            font-family:Verdana, Arial, Helvetica, sans-serif; 
            margin-left:6em; 
            margin-top:0.5em; 
            margin-bottom:0.5em; 
            text-align:left; 
            text-indent:0em; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            white-space:normal; 
            text-decoration:none none none;  }
LI.kadov-CIndented3 { 
                     color:#000000; 
                     font-size:12px; 
                     font-style:normal; 
                     font-weight:normal; 
                     font-family:Verdana, Arial, Helvetica, sans-serif; 
                     text-align:left; 
                     text-indent:0em; 
                     x-text-underline:off; 
                     x-text-overline:off; 
                     x-text-line-through:off; 
                     white-space:normal; 
                     text-decoration:none none none;  }
.TableTitle { 
             color:#000000; 
             font-family:Verdana, Arial, Helvetica, sans-serif; 
             font-size:12px; 
             font-style:italic; 
             font-weight:bold; 
             margin-left:0em; 
             margin-top:0.5em; 
             margin-bottom:0.5em; 
             text-align:left; 
             text-indent:0em; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             white-space:normal; 
             text-decoration:none none none;  }
LI.kadov-CTableTitle { 
                      color:#000000; 
                      font-family:Verdana, Arial, Helvetica, sans-serif; 
                      font-size:12px; 
                      font-style:italic; 
                      font-weight:bold; 
                      text-align:left; 
                      text-indent:0em; 
                      x-text-underline:off; 
                      x-text-overline:off; 
                      x-text-line-through:off; 
                      white-space:normal; 
                      text-decoration:none none none;  }
.Title { 
        color:#003366; 
        font-family:Verdana, Arial, Helvetica, sans-serif; 
        font-size:20px; 
        font-style:normal; 
        font-weight:bold; 
        margin-left:0em; 
        margin-top:0.5em; 
        margin-bottom:0.5em; 
        text-align:left; 
        text-indent:0.0em; 
        x-text-underline:off; 
        x-text-overline:off; 
        x-text-line-through:off; 
        white-space:normal; 
        text-decoration:none none none;  }
LI.kadov-CTitle { 
                 color:#003366; 
                 font-family:Verdana, Arial, Helvetica, sans-serif; 
                 font-size:20px; 
                 font-style:normal; 
                 font-weight:bold; 
                 text-align:left; 
                 text-indent:0.0em; 
                 x-text-underline:off; 
                 x-text-overline:off; 
                 x-text-line-through:off; 
                 white-space:normal; 
                 text-decoration:none none none;  }
.TOC1 { 
       color:#003366; 
       font-family:Verdana, Arial, Helvetica, sans-serif; 
       font-size:16px; 
       font-style:normal; 
       font-weight:bold; 
       margin-left:0em; 
       margin-top:0.5em; 
       margin-bottom:0.5em; 
       text-align:left; 
       text-indent:0em; 
       x-text-underline:off; 
       x-text-overline:off; 
       x-text-line-through:off; 
       white-space:normal; 
       text-decoration:none none none;  }
LI.kadov-CTOC1 { 
                color:#003366; 
                font-family:Verdana, Arial, Helvetica, sans-serif; 
                font-size:16px; 
                font-style:normal; 
                font-weight:bold; 
                text-align:left; 
                text-indent:0em; 
                x-text-underline:off; 
                x-text-overline:off; 
                x-text-line-through:off; 
                white-space:normal; 
                text-decoration:none none none;  }
.TOC2 { 
       color:#000000; 
       font-family:Verdana, Arial, Helvetica, sans-serif; 
       font-size:13px; 
       font-style:normal; 
       font-weight:normal; 
       margin-left:2em; 
       margin-top:0em; 
       margin-bottom:0em; 
       text-align:left; 
       text-indent:0em; 
       x-text-underline:off; 
       x-text-overline:off; 
       x-text-line-through:off; 
       white-space:normal; 
       text-decoration:none none none;  }
LI.kadov-CTOC2 { 
                color:#000000; 
                font-family:Verdana, Arial, Helvetica, sans-serif; 
                font-size:13px; 
                font-style:normal; 
                font-weight:normal; 
                text-align:left; 
                text-indent:0em; 
                x-text-underline:off; 
                x-text-overline:off; 
                x-text-line-through:off; 
                white-space:normal; 
                text-decoration:none none none;  }
.TOC3 { 
       color:#000000; 
       font-family:Verdana, Arial, Helvetica, sans-serif; 
       font-size:12px; 
       font-style:normal; 
       font-weight:normal; 
       margin-left:4em; 
       margin-top:0em; 
       margin-bottom:0em; 
       text-align:left; 
       text-indent:0em; 
       x-text-underline:off; 
       x-text-overline:off; 
       x-text-line-through:off; 
       white-space:normal; 
       text-decoration:none none none;  }
LI.kadov-CTOC3 { 
                color:#000000; 
                font-family:Verdana, Arial, Helvetica, sans-serif; 
                font-size:12px; 
                font-style:normal; 
                font-weight:normal; 
                text-align:left; 
                text-indent:0em; 
                x-text-underline:off; 
                x-text-overline:off; 
                x-text-line-through:off; 
                white-space:normal; 
                text-decoration:none none none;  }
.Footnote { 
           font-size:9px; 
           vertical-align:super;  }
LI.kadov-CFootnote { 
                    font-size:9px;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              font-size:12px; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 color:#008000; 
                 font-style:italic; 
                 font-weight:normal; 
                 font-size:12px;  }
A.dropspot { 
            cursor:hand; 
            x-text-overline:off; 
            x-text-line-through:off; 
            font-weight:normal; 
            font-style:normal; 
            font-size:12px; 
            color:#3366cc; 
            x-text-underline:Normal; 
            text-decoration:none none underline;  }
A.glossterm { 
             cursor:hand; 
             color:#800000; 
             font-style:normal;  }
SPAN.glosstext { 
                color:#0000ff; 
                font-weight:normal; 
                font-style:italic;  }
DIV.droptext { 
              color:#000000; 
              margin-top:0px; 
              margin-left:18pt; 
              margin-bottom:0pt;  }
H2 { 
    color:#003366; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    font-size:14px; 
    margin-left:0em; 
    margin-bottom:0.5em; 
    text-align:left; 
    text-indent:0em; 
    x-text-underline:off; 
    x-text-overline:off; 
    x-text-line-through:off; 
    margin-top:20pt; 
    text-decoration:none none none;  }
LI.kadov-H2 { 
             color:#003366; 
             font-family:Verdana, Arial, Helvetica, sans-serif; 
             font-weight:bold; 
             font-size:14px; 
             text-align:left; 
             text-indent:0em; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
h3 { 
    color:#000000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    font-size:13px; 
    margin-left:0em; 
    margin-top:0.5em; 
    margin-bottom:0.5em; 
    text-align:left; 
    text-indent:0em; 
    x-text-underline:off; 
    x-text-overline:off; 
    x-text-line-through:off; 
    text-decoration:none none none;  }
LI.kadov-h3 { 
             color:#000000; 
             font-family:Verdana, Arial, Helvetica, sans-serif; 
             font-weight:bold; 
             font-size:13px; 
             text-align:left; 
             text-indent:0em; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
h4 { 
    color:#000000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    font-size:12px; 
    margin-left:0em; 
    margin-top:0.5em; 
    margin-bottom:0.5em; 
    text-align:left; 
    text-indent:0em; 
    x-text-underline:off; 
    x-text-overline:off; 
    x-text-line-through:off; 
    text-decoration:none none none;  }
LI.kadov-h4 { 
             color:#000000; 
             font-family:Verdana, Arial, Helvetica, sans-serif; 
             font-weight:bold; 
             font-size:12px; 
             text-align:left; 
             text-indent:0em; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
.WithinList { 
             margin-left:3.4em; 
             margin-top:0.5em; 
             margin-bottom:0.5em;  }
LI.kadov-CWithinList {  }
.WListBullet { 
              margin-left:1.4em; 
              margin-top:0.5em; 
              margin-bottom:0.5em;  }
LI.kadov-CWListBullet {  }
.WListNumber { 
              margin-left:1.9em; 
              margin-top:0.5em; 
              margin-bottom:0.5em;  }
LI.kadov-CWListNumber {  }
P.CmdSyntax { 
             font-style:normal; 
             font-weight:normal; 
             font-family:Verdana, sans-serif; 
             margin-top:10pt; 
             margin-left:18pt; 
             margin-bottom:16pt;  }
LI.kadov-P-CCmdSyntax { 
                       font-style:normal; 
                       font-weight:normal; 
                       font-family:Verdana, sans-serif;  }
SPAN.CmdItalics { 
                 font-style:italic; 
                 font-weight:normal;  }
P.Shaded { 
          background-color:#bfbfbf; 
          font-family:"Courier New"  , monospace; 
          padding-left:8px; 
          padding-right:8px; 
          padding-top:5px; 
          padding-bottom:5px; 
          font-size:12px; 
          line-height:13pt; 
          margin-left:18pt;  }
LI.kadov-P-CShaded { 
                    font-family:"Courier New"  , monospace; 
                    font-size:12px; 
                    line-height:13pt;  }
H1 { 
    font-size:18px; 
    color:#003366; 
    margin-bottom:6pt;  }
LI.kadov-H1 { 
             font-size:18px; 
             color:#003366;  }
P.Indented1 { 
             margin-left:18pt; 
             margin-top:10pt; 
             margin-bottom:16pt;  }
LI.kadov-P-CIndented1 {  }
P.TableHead { 
             text-align:Left; 
             font-weight:bold;  }
LI.kadov-P-CTableHead { 
                       text-align:Left; 
                       font-weight:bold;  }
P.TableBody { 
             font-style:normal; 
             line-height:Normal; 
             margin-top:6px; 
             margin-bottom:6px;  }
LI.kadov-P-CTableBody { 
                       font-style:normal; 
                       line-height:Normal;  }
P.BarLink { 
           color:#000000; 
           font-family:Verdana, Arial, Helvetica, sans-serif; 
           font-size:12px; 
           margin-bottom:20pt; 
           margin-top:8pt;  }
LI.kadov-P-CBarLink { 
                     color:#000000; 
                     font-family:Verdana, Arial, Helvetica, sans-serif; 
                     font-size:12px;  }
P.CmdSyntaxQRG { 
                font-style:normal; 
                font-weight:normal; 
                font-family:Verdana, sans-serif; 
                margin-left:18pt; 
                margin-bottom:4pt; 
                margin-top:6pt; 
                font-size:11px;  }
LI.kadov-P-CCmdSyntaxQRG { 
                          font-style:normal; 
                          font-weight:normal; 
                          font-family:Verdana, sans-serif; 
                          font-size:11px;  }
P.IndentTight { 
               margin-top:8pt; 
               margin-bottom:8pt; 
               margin-left:18pt; 
               x-on-hover:none;  }
LI.kadov-P-CIndentTight {  }
P.NormalTight { 
               margin-top:8pt; 
               margin-bottom:8pt; 
               x-on-hover:none; 
               margin-left:0pt; 
               line-height:8pt;  }
LI.kadov-P-CNormalTight { 
                         line-height:8pt;  }
A.popupspot { 
             font-size:12px; 
             x-text-underline:Normal; 
             color:#3366cc; 
             text-decoration:underline;  }
A:link { 
        color:#3366cc;  }
A:visited { 
           color:#3366cc;  }
A:hover { 
         color:#CC0033; 
         x-text-underline:Normal; 
         x-on-hover:fontchange(color=#CC0033, Underline=on); 
         text-decoration:underline;  }
P.ErrorList { 
             x-on-hover:none; 
             color:#3366cc; 
             margin-top:4pt; 
             margin-bottom:4pt; 
             x-text-underline:Off; 
             text-decoration:none;  }
LI.kadov-P-CErrorList { 
                       color:#3366cc; 
                       x-text-underline:Off; 
                       text-decoration:none;  }
SPAN.Pending { 
              font-style:italic; 
              font-weight:normal; 
              color:#ff0000;  }
P.ErrorListBefore { 
                   margin-top:0em; 
                   margin-bottom:0em;  }
LI.kadov-P-CErrorListBefore {  }
P.PopupText { 
             font-size:11px; 
             margin-top:0pt;  }
LI.kadov-P-CPopupText { 
                       font-size:11px;  }
P.TableBodyTight { 
                  font-style:normal; 
                  line-height:Normal; 
                  margin-top:6px; 
                  margin-bottom:6px;  }
LI.kadov-P-CTableBodyTight { 
                            font-style:normal; 
                            line-height:Normal;  }
P.PopupTextHeading { 
                    font-weight:bold; 
                    margin-top:0pt; 
                    margin-bottom:8pt; 
                    line-height:Normal; 
                    font-size:12px;  }
LI.kadov-P-CPopupTextHeading { 
                              font-weight:bold; 
                              line-height:Normal; 
                              font-size:12px;  }
SPAN.CourierNew { 
                 font-family:"Courier New"  , monospace;  }
